@import url(
  'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10;
}

header.sticky {
  padding: 5px 100px;
  background: lightskyblue;
  box-shadow: 0 0 20px lightskyblue;
}

header .logo {
  position: relative;
  font-weight: 400;
  color: dodgerblue;
  text-shadow: 0 0 20px dodgerblue;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  text-shadow: 0 0 20px darkgray;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
  text-shadow: 0 0 20px whitesmoke;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  color: dodgerblue;
  text-shadow: 0 0 20px dodgerblue;
  font-size: 60px;;
}

.banner .content p {
  color: black;
  text-shadow: 0 0 20px darkgray;
  font-size: 18px;
}

.categories {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.category {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category .category-link {
  position: relative;
  text-decoration: none;
  font-size: 3em;
  font-weight: 300;
}

.category .category-link .monitoring-overview {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px blue;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .monitoring-overview::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: blue;
  z-index: -1;
  width: 500px;
}

.category .category-link .monitoring-overview::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: blue;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .flood-sensors {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px red;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .flood-sensors::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: red;
  z-index: -1;
  width: 500px;
}

.category .category-link .flood-sensors::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .rain-sensors {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px purple;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .rain-sensors::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: purple;
  z-index: -1;
  width: 500px;
}

.category .category-link .rain-sensors::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: purple;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .cameras {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px green;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .cameras::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: green;
  z-index: -1;
  width: 500px;
}

.category .category-link .cameras::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: green;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .pre-installs {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px cyan;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .pre-installs::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: cyan;
  z-index: -1;
  width: 500px;
}

.category .category-link .pre-installs::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: cyan;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .live-installs {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px orange;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .live-installs::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: orange;
  z-index: -1;
  width: 500px;
}

.category .category-link .live-installs::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: orange;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

.category .category-link .others {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px gray;
  color: white;
  transform: translate(-50%, -50%);
  width: 500px;
}

.category .category-link .others::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: gray;
  z-index: -1;
  width: 500px;
}

.category .category-link .others::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
  width: 500px;
}

/* logs */



.table-container {
  margin: 20px;
  margin-top: 100px;
  color: black;
  text-shadow: 0 0 20px darkgray;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container a {
  color: slateblue;
  text-decoration: none;
  text-shadow: 0 0 20px slateblue;
}

.table-container .danger-note {
  margin-left: 20px;
  color: black;
  text-shadow: 0 0 20px red;
}

.table-container .danger-note ul {
  margin-left: 20px;
}